* {
  box-sizing: border-box;
}

body {
  background-color: #f2efef;
  font-family: sans-serif;
}

header,
main {
  max-width: 1000px;
  margin: 0 auto;
}

.flexitem {
  background-color: white;
  border: 0px solid white;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
  width: 400px;
  height: 180px;
  margin: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.socialpicture {
  border: 0px solid white;
  border-radius: 8px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

.mainflexbox {
  display: flex;
}

.fadedout {
  font-size: 10px;
  color: lightgray;
}
